@model MvcMovie.Models.MovieGenreViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Movies index</h1>
<div class="row">
    <div class="col-md-3">
        <a type="button" class=" btn btn-outline-primary" href="/Movies/Create">Tạo mới phim</a>
    </div>
    <div class="col-md-9">
        <form asp-controller="Movies" asp-action="Index" method="get">
            <div class="row">
                <div class="col-md-3">
                    <select asp-for="MovieGenre" asp-items="Model.Genres">
                        <option value="">All</option>
                    </select>
                </div>
                <div class="input-group mb-3 col-md-9">
                    <div class="input-group-prepend">
                        <input type="button" class="btn btn-outline-dark font-weight-bold" value="Tiêu đề: " disabled>
                    </div>
                    <input type="text" name="SearchString" class="form-control w-50">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-warning">  <i class="fa fa-search"></i>Lọc</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movies)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @*<a href="/Movies/Edit/@item.Id" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a href="/Movies/Details/@item.Id" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a href="/Movies/Delete/@item.Id" asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                    <a type="button" class="btn btn-success" href="/Movies/Edit/@item.Id">Cập nhật</a>
                    <a type="button" class="btn btn-primary" href="/Movies/Details/@item.Id">Chi tiết</a>
                    <a type="button" class="btn btn-danger" href="/Movies/Delete/@item.Id">Xoá</a>
                </td>
            </tr>
        }
    </tbody>
</table>
